In [4]:
import pandas as pd
import numpy as np
import datetime
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split # for splitting the data into training and testing sets
from sklearn.linear_model import LinearRegression, Ridge # models we are going to use
from sklearn.metrics import r2_score # for comparing the predicted and test values

In [5]:
df = pd.read_csv("Melb_v4.csv", parse_dates=['Timestamp'], index_col=['Timestamp'])

In [6]:
df_clean=df.drop(columns=['Unnamed: 0', 'Year', 'Month', 'Date', 'Hour', 'Minute'])

In [7]:
Daily_mean=df_clean.resample('24H').mean()
Monthly_mean=df_clean.resample('1M').mean()
Daily_max=df_clean.resample('24H').max()
Monthly_max=df_clean.resample('1M').max()
Daily_min=df_clean.resample('24H').min()
Monthly_min=df_clean.resample('1M').min()

In [8]:
df_clean

,Dry_bulb_temp,Dew_point_temp,Apparent_temp,Relative_humidity,Wind_direction,Average_wind_speed,Max_wind_speed,Mean_sea_level_pressure,Rainfall
Timestamp,,,,,,,,,
2011-01-01 00:04:00,24.8,0.0,14.0,51.0,SE,11.0,13.0,1007.4,0.0
2011-01-01 00:14:00,24.8,0.0,13.3,48.0,SE,11.0,11.0,1007.5,0.0
2011-01-01 00:24:00,24.9,0.0,13.3,48.0,SE,11.0,13.0,1007.5,0.0
2011-01-01 00:34:00,24.7,0.0,13.4,49.0,SE,11.0,11.0,1007.4,0.0
2011-01-01 00:44:00,24.1,0.0,13.3,51.0,ESE,9.0,9.0,1007.3,0.0
...,...,...,...,...,...,...,...,...,...
2021-03-16 16:00:00,19.9,17.9,12.7,63.0,S,20.0,30.0,1024.1,0.0
2021-03-16 16:30:00,19.9,18.0,13.1,65.0,S,20.0,28.0,1023.7,0.0
2021-03-16 17:00:00,20.5,19.1,13.5,64.0,S,19.0,28.0,1023.5,0.0
2021-03-16 17:30:00,19.9,18.1,13.4,66.0,S,20.0,30.0,1023.3,0.0
2021-03-16 18:00:00,19.9,18.6,13.6,67.0,S,17.0,24.0,1023.3,0.0

In [9]:
nineh_data = df_clean[df_clean.index.hour == 9]
Rainfall_at_NineAm = nineh_data[nineh_data.index.minute == 0]
eighth_data = df_clean[df_clean.index.hour == 8]
Rainfall_at_854 = eighth_data[eighth_data.index.minute == 54]

In [10]:
Rainfall_at_854.max()

Dry_bulb_temp                31.3
Dew_point_temp               27.9
Apparent_temp                21.8
Relative_humidity              99
Wind_direction                WSW
Average_wind_speed             69
Max_wind_speed                 78
Mean_sea_level_pressure    1033.7
Rainfall                     48.8
dtype: object

In [11]:
Daily_max

,Dry_bulb_temp,Dew_point_temp,Apparent_temp,Relative_humidity,Wind_direction,Average_wind_speed,Max_wind_speed,Mean_sea_level_pressure,Rainfall
Timestamp,,,,,,,,,
2011-01-01,24.9,0.0,14.9,80.0,WSW,37.0,43.0,1015.2,0.0
2011-01-02,21.4,0.0,11.4,71.0,SSW,33.0,39.0,1017.6,0.0
2011-01-03,20.3,0.0,7.1,57.0,SSW,35.0,41.0,1018.5,0.0
2011-01-04,21.5,0.0,12.4,85.0,WSW,30.0,37.0,1016.3,0.0
2011-01-05,21.3,0.0,13.2,79.0,WSW,32.0,37.0,1012.4,0.0
...,...,...,...,...,...,...,...,...,...
2021-03-12,29.8,29.2,17.1,100.0,WNW,24.0,33.0,1018.0,0.0
2021-03-13,27.1,27.6,17.3,96.0,WSW,46.0,59.0,1017.6,15.8
2021-03-14,17.4,14.1,9.3,81.0,WSW,30.0,41.0,1023.9,17.2
2021-03-15,21.5,20.6,14.5,89.0,WSW,22.0,28.0,1025.3,0.0
2021-03-16,20.5,19.1,14.4,91.0,SW,22.0,30.0,1026.9,0.0

In [23]:
df1 = pd.read_csv("Melbourne Daily Min Data.csv", parse_dates=['Timestamp'], index_col=['Timestamp'])

In [24]:
df2 = pd.read_csv("Melbourne Daily Max Data.csv", parse_dates=['Timestamp'], index_col=['Timestamp'])

In [25]:
Melbourne_Min_Mean = df1.resample('1M').mean()

In [26]:
Melbourne_Max_Mean = df2.resample('1M').mean()

In [27]:
Melbourne_Min_Mean

,Dry_bulb_temp,Dew_point_temp,Apparent_temp,Relative_humidity,Average_wind_speed,Max_wind_speed,Mean_sea_level_pressure,Rainfall
Timestamp,,,,,,,,
2011-01-31,17.293548,0.000000,10.838710,45.612903,3.709677,4.225806,1008.364516,0.032258
2011-02-28,16.242857,0.000000,10.575000,49.107143,3.142857,3.678571,1012.346429,0.235714
2011-03-31,14.993548,0.000000,8.258065,44.258065,4.032258,4.709677,1013.790323,0.000000
2011-04-30,11.970000,0.000000,7.106667,45.200000,3.900000,4.933333,1019.576667,0.013333
2011-05-31,9.619355,0.000000,4.977419,53.548387,4.838710,5.387097,1017.996774,0.006452
...,...,...,...,...,...,...,...,...
2020-11-30,13.540000,11.393333,6.860000,38.866667,1.366667,2.066667,1010.496667,0.000000
2020-12-31,12.909677,10.800000,6.412903,41.612903,5.483871,6.193548,1011.232258,0.000000
2021-01-31,15.267742,14.029032,9.319355,44.935484,1.483871,1.645161,1010.596774,0.000000
2021-02-28,14.950000,13.689286,8.939286,43.107143,1.321429,1.714286,1010.125000,0.000000
2021-03-31,13.387500,11.462500,7.581250,50.125000,4.375000,6.312500,1014.193750,0.000000

In [28]:
Melbourne_Max_Mean

,Dry_bulb_temp,Dew_point_temp,Apparent_temp,Relative_humidity,Average_wind_speed,Max_wind_speed,Mean_sea_level_pressure,Rainfall
Timestamp,,,,,,,,
2011-01-31,26.219355,0.000000,16.774194,83.322581,33.645161,39.032258,1013.970968,3.896774
2011-02-28,24.660714,0.000000,16.489286,83.178571,30.464286,36.535714,1018.467857,2.071429
2011-03-31,23.090323,0.000000,13.948387,81.258065,33.096774,38.387097,1019.090323,1.574194
2011-04-30,20.700000,0.000000,12.226667,88.400000,31.100000,35.866667,1023.946667,4.086667
2011-05-31,16.067742,0.000000,9.548387,86.129032,30.516129,36.064516,1022.809677,3.122581
...,...,...,...,...,...,...,...,...
2020-11-30,24.750000,23.500000,14.270000,89.133333,36.366667,42.800000,1018.753333,2.120000
2020-12-31,22.541935,21.016129,13.364516,87.193548,39.129032,45.741935,1018.561290,1.735484
2021-01-31,25.074194,24.670968,16.109677,89.612903,34.838710,41.161290,1016.654839,4.574194
2021-02-28,24.307143,23.285714,14.800000,87.107143,35.928571,42.214286,1015.957143,0.385714
2021-03-31,21.175000,19.837500,13.868750,90.000000,28.375000,39.125000,1019.306250,2.700000

In [39]:
Rainfall_at_NineAm.iloc[0:100]

,Dry_bulb_temp,Dew_point_temp,Apparent_temp,Relative_humidity,Wind_direction,Average_wind_speed,Max_wind_speed,Mean_sea_level_pressure,Rainfall
Timestamp,,,,,,,,,
2013-09-07 09:00:00,12.5,9.4,5.6,63.0,WNW,22.0,37.0,1025.1,0.0
2013-09-08 09:00:00,11.6,9.6,6.3,70.0,WSW,7.0,11.0,1027.7,0.0
2013-09-09 09:00:00,16.3,6.5,2.0,38.0,N,56.0,70.0,1012.0,0.2
2014-09-27 09:00:00,15.5,13.1,13.1,63.0,N,22.0,28.0,1020.2,0.0
2014-09-28 09:00:00,19.8,13.4,13.4,43.0,N,57.0,72.0,1013.0,0.0
...,...,...,...,...,...,...,...,...,...
2015-03-14 09:00:00,13.1,11.1,8.6,74.0,N,35.0,43.0,1016.9,0.0
2015-03-15 09:00:00,14.9,11.7,5.1,52.0,SSE,28.0,32.0,1017.7,0.0
2015-03-17 09:00:00,20.4,19.2,11.6,57.0,N,39.0,50.0,1006.5,0.0
2015-03-19 09:00:00,22.5,20.2,13.0,55.0,N,56.0,70.0,1006.0,0.0
2015-03-20 09:00:00,15.7,13.8,9.1,65.0,W,17.0,19.0,1017.3,0.0